/* {
Colors:
White: #F9FAF4
Yellow: #FFC94B
Orange: #F9A66C
Red: #F17A7E
}*/

body { 
    margin:0; 
    background-color: #F9FAF4;
}

#banner {
    display: inline-block;
    width: 100%;
    height: 3%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #F17A7E;
    padding-top: 0.2%;
    padding-bottom: 0.4%;
    text-decoration: none;
    z-index: 4;
}

#banner>a {
    padding-right: 4%;
    padding-top: 10%;
    color: #F9FAF4;
    text-decoration: none;
}

#banner>a:hover {
    color: #FFC94B;
}

#uncharted {
    margin-right: 35%;
    padding-left: 1.5%;
    font-family: Papyrus, fantasy;
    font-weight: bolder;
    font-size: x-large;
}

#body {
    background-color: #F9A66C;
    z-index: 2;
    position: fixed;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    width: 80%;
    height: 96%;
    opacity: 20%;
}

#body2 {
    z-index: 3;
    position: absolute;
    margin-left: 12%;
    margin-top: 2%;
    margin-right: 12%;
    width: 76%;
    padding-bottom: 40%;
    opacity: 100%;
}

#selector {
    width: 100%;
    display: inline-block;
}

#images {
    padding-top: 5%;
    display: inline-block;
}

#selector>img {
    padding-right: 5%;
}

#next, #before, #now {
    display: none;
}

#next, #before {
    width: 25%;
    opacity: 50%;
    position: absolute;
    z-index: 4;
}
#now {
    width: 40%;
    left: 30%;
    position: absolute;
    margin-top: 5%;
    z-index: 5;
}
#next {
    right: 10%;
}
#before {
    left: 10%;
}

#arrowNext, #arrowBef {
    width: 4%;
    display: none;
    bottom: 13%;
    z-index: 6;
}

#arrowNext {
    right: 15%;
    position: absolute;
}

#arrowBef {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    left: 15%;
}

.headline {
    color: #FFC94B;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textBody {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}